footer {
    background-color: var(--color-primary-2);
}

/* Modo escuro*/

body.dark-mode footer {
    background-color: rgb(73, 73, 73);
}

body.dark-mode footer span {
    color: white;
}
/* Modo escuro*/

#footer_items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 8% 24px 8%;
    margin-top: 50px;
}

#copyright {
    font-size: 1.2rem;
    font-weight: bolder;
}

@media screen and (max-width: 600px) {
    #footer_items {
        flex-direction: column;
        gap: 20px;
    }
}