#home {
    display: flex;
    min-height: calc(100vh - 78px);
    position: relative;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title{
    font-size: 4rem;
    font-weight: bold;
    color: #1d1d1d;
}
#cta .title span{
    font-weight: bolder;
    color: darkred;
}

#cta .description {
    font-size: 1.5rem;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
}

#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    color: #1d1d1d;
    padding: 8px 14px;
    font-weight: 700;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#phone_button button{
    box-shadow: none;
}

#banner_mobile {
    display: none;
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 60%;
    z-index: 2;
}

#banner img {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 55%;
}

.shape {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 85%;
    position: absolute;
    border-radius: 20% 0% 0% 20%;
    top: 0;
    right: 0;
    z-index: 1;
}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img,
    #home .shape {
        display: none;
    }

    #banner_mobile,
    #banner_mobile img {
        display: flex;
        flex-direction: column;
        width: 50%;
        text-align: center;
        margin: auto;
        justify-content: center;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 430px) {
    #phone_button button {
        display: none;
    }
}